In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mrseekmine\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mrseekmine\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\mrseekmine\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 11.5/11.5 MB 92.3 MB/s eta 0:00:00
Downloading numpy-2.2.2-cp313-cp313-win_amd64.whl (12.6 MB)
   ---------------------------------------- 0.0/12.6 MB ? eta -:--:--
   ---------------------------------------- 12.6/12.6 MB 102.7 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-2.2.2 pandas-2.2.3 pytz-2024.2

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.2.3'

In [5]:
df = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [30]:
print(pd.io.sql.get_schema(df, name='green_tripdata'))

CREATE TABLE "green_tripdata" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" REAL,
  "congestion_surcharge" REAL
)

In [31]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2
  Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Downloading psycopg2-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---------------------------------------- 2.6/2.6 MB 70.5 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [19]:
engine.connect()

In [20]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019-10.csv', con=engine))

CREATE TABLE "green_tripdata_2019-10.csv" (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [38]:
df = next(df_iter)

In [39]:
len(df)

100000

In [40]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [41]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
100000,2,2019-10-08 15:30:23,2019-10-08 15:37:34,N,1,65,66,1,0.95,6.5,0.0,0.5,2.19,0.0,NaN,0.3,9.49,1,1,0.00
100001,2,2019-10-08 15:17:48,2019-10-08 15:26:33,N,1,226,260,1,1.69,8.0,0.0,0.5,1.20,0.0,NaN,0.3,10.00,1,1,0.00
100002,2,2019-10-08 16:01:41,2019-10-08 16:29:08,N,1,226,161,1,3.41,18.0,0.0,0.5,4.31,0.0,NaN,0.3,25.86,1,1,2.75
100003,1,2019-10-08 15:54:49,2019-10-08 15:59:37,N,1,181,181,1,0.60,5.0,1.0,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.00
100004,2,2019-10-08 15:14:39,2019-10-08 15:30:24,N,1,179,223,1,1.20,10.5,0.0,0.5,0.00,0.0,NaN,0.3,11.30,2,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,2,2019-10-16 18:57:30,2019-10-16 19:02:21,N,1,134,28,5,0.53,5.0,1.0,0.5,1.20,0.0,NaN,0.3,8.00,1,1,0.00
199996,2,2019-10-16 18:14:01,2019-10-16 18:21:06,N,1,244,243,1,2.32,9.0,1.0,0.5,0.00,0.0,NaN,0.3,10.80,2,1,0.00
199997,2,2019-10-16 18:09:10,2019-10-16 18:17:22,N,1,181,25,1,1.39,7.5,1.0,0.5,0.00,0.0,NaN,0.3,9.30,2,1,0.00
199998,2,2019-10-16 18:19:29,2019-10-16 18:53:57,N,1,25,89,1,4.84,23.5,1.0,0.5,5.06,0.0,NaN,0.3,30.36,1,1,0.00
199999,2,2019-10-16 18:13:44,2019-10-16 18:43:16,N,1,75,141,6,2.35,18.0,1.0,0.5,4.51,0.0,NaN,0.3,27.06,1,1,2.75

In [42]:
df.head(n = 0).to_sql(name='green_tripdata', con=engine, if_exists='replace')

0

In [43]:
%time df.to_sql(name='green_tripdata', con=engine, if_exists='append')

CPU times: total: 891 ms
Wall time: 8.5 s

1000

In [45]:
from time import time

In [46]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_tripdata', con=engine, if_exists='append')

    t_end = time()

    print('interted another chunk..., took %.3f second' % (t_end - t_start))

interted another chunk..., took 8.675 second

C:\Users\Mrseekmine\AppData\Local\Temp\ipykernel_27500\1688276587.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

interted another chunk..., took 8.950 second
interted another chunk..., took 6.129 second

StopIteration:

In [50]:
df2 = pd.read_csv('taxi_zone_lookup.csv')

In [51]:
print(pd.io.sql.get_schema(df2, name='taxi_zone_lookup'))

CREATE TABLE "taxi_zone_lookup" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [52]:
print(pd.io.sql.get_schema(df2, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [53]:
len(df2)

265

In [54]:
df2.head(n = 0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

0

In [55]:
df2.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265